//===================== Header 1
.header{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
  color: $white;
  .header-wrapper{
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 10px 0;
    .navbar{
      padding-#{$right}: 0;
      width: 100%;
      .logo{
        display: flex;
        margin-#{$right}: auto;
        .navbar-brand{
          margin-#{$right}: 1rem;
          height: 120px;
          img{
            max-height: 100%;
            //max-width: 100%;
          }
        }
      }
      .lang-login{
        flex-grow: 0;
        margin-#{$left}: auto;
      }
      .navbar-collapse{
        li{
          padding-left: 15px;
          a{
            color: $white;
            font-size: 18px;
          }
        }
        li.icon{
          a{
            color: $mainBlue;
          }
          button{
            color: #06b5ea;
            background-color: transparent;
            border: none;
            font-size: 18px;
            padding: 0;
            &:focus{
              box-shadow: none;
            }
          }
        }
        .dropdown-menu{
          background-color: $alph;
          top: calc(100% + 15px);
          left: 50%;
          transform: translateX(-50%);
          &:after{
            content: ' ';
            display: block;
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            border-bottom: 15px solid $alph;
          }
          li{
            padding: 0;
            a{
              text-align: center;
              text-transform: capitalize;
              &:hover{
                background-color: rgba(0,0,0,0.6);
              }
            }
          }
        }

        .notification-drop{
          background-color: #fff !important;
          min-width: 15rem;
          //padding: 1.6rem 0 1rem;
          padding-bottom: 0;
          top: calc(100% + 15px);
          left: 100%;
          transform: translateX(-53%);
          max-width: 22rem;
          //position: relative;
          padding: 0;
          &:after{
            content: ' ';
            display: block;
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            border-right: 15px solid transparent;
            border-left: 15px solid transparent;
            border-bottom: 15px solid #fff;
          }
          .dropdown-divider{
            margin: 0;
          }
          .dropdown-item{
            display: flex;
            padding: 7px 10px;
            color: #333;
            position: relative;
            align-items: center;
            font-size: 16px;
            &:hover{
              background-color: rgba(51,51,51,0.1);
            }
            .img-span{
              overflow: hidden;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 5px;
              img{
                width: 125%;
              }
            }
            .name-span{
              color: #06b5ea;
              margin-right: 5px;
            }
            p{
              margin: 0;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              text-transform: lowercase;
            }
            .timer{
              position: absolute;
              right: 10px;
              bottom: 3px;
              margin: 0;
              color: #999;
              font-size: 11px;
            }
          }
          .view-all{
            margin: 0;
            font-size: 18px;
            justify-content: center;
            padding: 10px 0;
            background-color: #06b5ea;
            color: #fff;
            &:hover{
              background-color: lighten(#06b5ea,10%);
            }
          }
        }
      }
    }
  }
}
.list-nav{
  order: 1;
  justify-content: center;
  li.nav-item.active{
    a{
      color: #06b5ea!important;
    }
  }
  .close-menu{
    display: none;
  }
}
.lang-login{
  order: 2;
  justify-content: flex-end;
}

//===================== Header 2 --> logged
.header-logged{
  .lang-login{
    align-items: center;
    .profile-pic{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      img{
        width: 100%;
      }
    }
    li.dropdown, li.icon{
      padding-left: 0!important;
      margin-#{$left}: 15px;
    }
    li.dropdown{
      a{
        padding: 0;
      }
      .nav-link{
        position: relative;
        .notification-counter{
          position: absolute;
          left: -15px;
          top: -10px;
          background: #880d0d;
          min-width: 20px;
          min-height: 20px;
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
      }
      #messages, #notifications, #profilePic{
        margin-left: 5px;
        &:after{
          display: none;
        }
      }
    }
    li.icon{
      padding-left: 0;
      a{
        color: #fff!important;
      }
    }
  }
  .dropdown-menu.my-profile{
    background-color: #fff!important;
    min-width: 15rem;
    padding: 1.6rem 0 1rem;
    top: calc(100% + 15px);
    left: -100%;
    &:after{
      content: ' ';
      display: block;
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 15px solid #fff!important;
    }
    .account-picture{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 85%;
      height: 85%;
      overflow: hidden;
      border-radius: 50%;
      margin: 20px auto;
      padding: 0!important;
      z-index: 200;
      img{
        width: 100%;
      }
    }
    .account-name{
      color: #06b5ea!important;
      text-align: center!important;
      padding: 0!important;
      margin: 15px 0;
      font-family: 'Jose-SemiBold';
      &:hover{
        background-color: transparent!important;
        color: lighten(#06b5ea,10%)!important;
      }
    }
    a{
      color: #333!important;
      text-align: $left!important;
      padding: 8px 20px!important;
      transition: 0.6s;
      &:hover{
        background-color: transparent!important;
        color: #06b5ea!important;
      }
    }
    .dropdown-item{
      i{
        margin-#{$right}: 15px;
        color: #717171;
      }
    }
    .progress {
      width: $size;
      height: $size;
      line-height: $size;
      background: none;
      margin: 0 auto;
      box-shadow: none;
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: $borderWidth solid $border-color-default;
        position: absolute;
        top: 0;
        left: 0;
      }
      > span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
      }
      .progress-left {
        left: 0;
      }
      .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: $borderWidth;
        border-style: solid;
        position: absolute;
        top: 0;
        border-color: $border-color-fill;
      }
      .progress-left .progress-bar {
        left: 100%;
        border-top-right-radius: ($size/2);;
        border-bottom-right-radius: ($size/2);;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
      }
      .progress-right {
        right: 0;
        .progress-bar {
          left: -100%;
          border-top-left-radius: ($size/2);;
          border-bottom-left-radius: ($size/2);;
          border-right: 0;
          -webkit-transform-origin: center right;
          transform-origin: center right;
        }
      }
      .progress-value {
        display: flex;
        border-radius: 50%;
        font-size: 36px;
        text-align: center;
        line-height: 20px;
        align-items: center;
        justify-content: center;
        height: 100%;
        //font-family: $work-sans;
        font-weight: 300;
        div {
          margin-top: 10px;
        }
        span {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
    }

    /* This for loop creates the 	necessary css animation names
    Due to the split circle of progress-left and progress right, we must use the animations on each side.
    */
    @for $i from 1 through $howManySteps {
      $stepName: ($i*(100 / $howManySteps));

      //animation only the left side if below 50%
      @if $i <= ($howManySteps/2) {
        .progress[data-percentage="#{$stepName}"] {
          .progress-right .progress-bar {
            animation: loading-#{$i} $animationTime linear forwards;
          }
          .progress-left .progress-bar {animation: 0;}
        }
      }
      //animation only the right side if above 50%
      @if $i > ($howManySteps/2)  {
        .progress[data-percentage="#{$stepName}"] {
          .progress-right .progress-bar {
            animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
          }
          .progress-left .progress-bar {
            animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
          }
        }
      }
    }

    //animation
    @for $i from 1 through ($howManySteps/2) {
      $degrees: (180/($howManySteps/2));
      $degrees: ($degrees*$i);
      @keyframes loading-#{$i}{
        0%{
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
        }
        100%{
          -webkit-transform: rotate($degrees);
          transform: rotate(#{$degrees}deg);
        }
      }
    }
    //additional styling
    .progress {
      margin-bottom: 1em;
    }
  }
}

.navbar-expand-lg .navbar-nav{
  align-items: center;
}

//===================== Footer

.footer{
  margin-top: 30px;
  .footer-wrapping{
    -webkit-box-shadow: 1px 1px 15px 8px #eee;
    -moz-box-shadow: 1px 1px 15px 8px #eee;
    box-shadow: 1px 1px 15px 8px #eee;
    padding: 30px 60px;
    .about-news{
      padding-#{$right}: 40px;
      .about{
        text-align: $left;
        .title{
          letter-spacing: $letter-spacing;
          font-family: 'Jose-SemiBold';
          margin-bottom: 25px;
          font-size: $subTitleSize;
          text-align: $left;
        }
        .text{
          padding: 0;
          font-size: $smallSize;
        }
      }
      .news-letter{
        margin-top: 40px;
        .title{
          letter-spacing: $letter-spacing;
          margin-bottom: 20px;
          font-size: $subTitleSize;
          font-family: 'Jose-SemiBold';
          text-align: $left;
        }
        .form-control,.input-group-text{
          height: 38px;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          border: none;
          background-color: #f3f3f3;
        }
        .input-wrapper{
          &:before{
            content: "\f0e0";
            font-family: FontAwesome;
            font-size: 20px;
            padding-#{$left}: 15px;
            #{$left}: 0;
            color: #e0e0e0;
            display: block;
            z-index: 33333;
            @extend %v_center;
          }
          .form-control{
            height: auto;
            position: relative;
            z-index: 3333;
            padding-#{$left}: 45px;
            padding-#{$right}: 0;
            padding-top: .75rem;
            padding-bottom: .75rem;
            font-size: $littleTitle;
            &::placeholder {
              color: #e0e0e0;
              opacity: 1;
            }
            &:-ms-input-placeholder {
              color: #e0e0e0;
            }
            &::-ms-input-placeholder {
              color: #e0e0e0;
            }
          }
        }
        .input-group-text{
          height: auto;
          button{
            padding: 0;
            background: transparent;
            i{
              font-size: 26px;
              transform: $rotateY;
            }
          }
        }
      }
    }
    .site-map{
      background: url("../images/site.png") no-repeat;
      background-position: 40%;
      .title{
        font-size: $subTitleSize;
        font-family: 'Jose-SemiBold';
        margin-bottom: 25px;
        text-align: $left;
      }
      .map-list{
        column-count: 2;
        -webkit-column-gap: 45px;
        -moz-column-gap: 45px;
        column-gap: 45px;
        li{
          margin-bottom: 20px;
          text-align: $left;
          i{
            content: $angle-right;
            padding-right: 10px;
            transform: $rotateZ;
          }
          a{
            font-size: 13px;
            color: inherit;
          }
        }
      }
    }
    .get-in-touch{
      .title{
        font-size: $subTitleSize;
        font-family: 'Jose-SemiBold';
        margin-bottom: 25px;
        text-align: $left;
      }
      .form-group{
        .form-control{
          //background-color: #f3f3f3;
          //-webkit-border-radius: 0;
          //-moz-border-radius: 0;
          //border-radius: 0;
          //border: none;
          height: auto;
          //textarea{
          //  resize: none;
          //}
        }
      }
      //.send{
      //  color: $white;
      //  border: none;
      //  padding: 8px 55px;
      //  -webkit-border-radius: 25px;
      //  -moz-border-radius: 25px;
      //  border-radius: 25px;
      //  cursor: pointer;
      //}
    }
  }
  .copyright{
    p{
      margin: 15px 0;
      line-height: 50px;
    }
  }
  .form-group input{
    margin-bottom: 0;
  }
}
section.fr-ttle{
  padding-bottom: 0;
}