//---------------special-container---------------
@media (min-width: 1550px) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1200px;
  }
}

/*----------------------------------------------------------------------*/
@media only screen and (max-height: 800px) {
  .curve {
    bottom: -30px;
  }
}

/*----------------------------------------------------------------------*/
@media only screen and (min-width: 991px) {
/*--------------------------------------------------------------------*/
  .packages .carousel .carousel-inner .carousel-item{
    display: block;
  }
}


/*----------------------------------------------------------------------*/
@media only screen and (max-width: 1600px) {
/*--------------------------------------------------------------------*/
  .history .recent-history .tab-content .tab-pane .table {
    thead tr, tbody tr{
      th{
        font-size: 20px;
      }
      td{
        font-size: 18px;
        &:last-child {
          a {
            margin-#{$right}: 15px;
          }
        }
      }
    }
  }
}



/*----------------------------------------------------------------------*/
@media only screen and (max-width: 1366px) {
/*--------------------------------------------------------------------*/
  .curve {
      bottom: -2px;
  }
  .page-content{
      .index-carousel .find .find-ttle{
          font-size: 36px;
      }
      .index-carousel .sup-select .sel:after{
          right: 15px;
      }
  }
}


/* Large Devices, Wide Screens
----------------------------------------------------------------------*/
@media only screen and (max-width: 1280px) {
  /*--------------------------------------------------------------------*/
  .page-content{
    .index-height, .index-carousel {
      .carousel .carousel-inner .carousel-item {
        height: auto !important;
        min-height: 600px;
      }
    }
  }
  .history .recent-history .tab-content .tab-pane .table {
    thead tr, tbody tr{
      th{
        font-size: 18px;
      }
      td{
        font-size: 16px;
        &:first-child {
          font-size: 20px;
        }
      }
    }
  }
}


/*----------------------------------------------------------------------*/
@media only screen and (max-width: 1200px) {
  /*--------------------------------------------------------------------*/
  .section:not(.index-carousel), section:not(.index-carousel) {
    padding: 40px 0 40px 0;
  }
  .fr-ttle .ttle {
    margin-bottom: 50px;
  }
  //===================== Footer 1
  .footer .footer-wrapping {
    padding: 30px;
  }
  .footer .footer-wrapping .about-news .about .title, .footer .footer-wrapping .about-news .news-letter .title, .footer .footer-wrapping .site-map .title, .footer .footer-wrapping .get-in-touch .title {
    margin-bottom: 15px;
  }
  .footer .footer-wrapping .about-news, .footer .footer-wrapping .site-map {
    margin-bottom: 30px;
  }
  .footer .footer-wrapping .about-news {
    padding-right: 15px;

    .about {
      .title {

      }

      .img {
        display: none;
      }

      .text {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    .news-letter {
      margin-top: 20px;
    }
  }
  .footer .footer-wrapping .about-news .news-letter .input-wrapper:before {
    padding-left: 15px;
  }
  .footer .footer-wrapping .about-news .news-letter .input-group-text button i {
    font-size: 20px;
  }
  .footer .copyright p {
    font-size: 14px;
  }
  .footer .footer-wrapping .get-in-touch .form-group {
    margin: 0;
  }
  .footer .footer-wrapping .site-map .map-list li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .footer .footer-wrapping .site-map .map-list li i {
    padding-right: 3px;
  }
  //--------------------------------
  .select2-container {
    .select2-selection--single {
      height: 40px;

      .select2-selection__rendered {
        line-height: 18px;
      }

      .select2-selection__arrow {
        top: 0;
        #{$right}: 10px;
        #{$left}: auto;
        height: auto;
        padding: 20px 0;
      }
    }
  }

  .form-group {
    input {
      margin: 0;
      padding: 0.5rem;
      height: 40px;
      margin-bottom: 15px !important;
    }

    textarea {
      height: auto;
      margin-bottom: 15px;
    }
  }
  .common-btn {
    height: 40px;
  }
}


/*----------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
/*--------------------------------------------------------------------*/
  .breadcrumb-wrapper {
    .breadcrumb{
      margin-bottom: 30px;
    }
  }
  .page-content{
    .index-carousel{
      .find {
        padding: 15px 40px;
        margin-top: -10px;
        margin-bottom: 20px;
      }
    }
  }
  .company-vision {
    p, article{
      font-size: 20px;
    }
    .signature img{
      transform-origin: $left;
      transform: scale(0.7);
    }
  }
  .history .recent-history .tab-content .tab-pane .table {
    thead tr, tbody tr{
      td{
        &:last-child {
          a {
            margin-#{$right}: 10px;
          }
        }
      }
    }
  }

  .login-div{
    width: 50%;
  }
}
/* Medium Devices, Desktops
----------------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
/*--------------------------------------------------------------------*/
  h1, .h1 {
    font-size: 30px;
  }
  h2, .h2 {
    font-size: 24px;
  }
  h3, .h3 {
    font-size: 22px;
  }

  .curve {
    display: none;
  }

  .find-ttle-02{
    margin-bottom: 25px;
  }
  .account-breadcrumb{
    margin-top: 40px;
  }
  //===================== Header 1
  .header .header-wrapper{
    padding: 0;
    .navbar{
      .logo{
        .navbar-brand{
          height: 100px;
        }
      }
      .navbar-toggler{
        color: #06b5ea;
        font-size: 35px;
      }

    }
  }
  .header-logged .lang-login .profile-pic{
    display: none;
  }


  .page-content{
    .index-carousel{
      .carousel .carousel-inner .carousel-item {
        min-height: 430px;
      }
      .carousel .carousel-indicators{
        margin-bottom: 0;
        bottom: 60px;
        right: 0;
        left: 0;
      }
      .find{
        .find-ttle{
          font-size: 30px;
          margin-bottom: 1rem;
        }
        .input-group{
          background: #fff;
        }
        input.form-control{
          //flex: none;
          height: 60px;
        }
        .input-group-text, .find .form-control{
          height: 60px;
        }
      }
      .sup-submit{
        position: absolute;
        #{$right}: 10px;
        top: 0;
        bottom: 0;
        width: 50px;
      }
    }
  }

  .index-height{
    .carousel{
      .carousel-inner .carousel-item {
        min-height: 470px ;
      }
      .carousel-indicators{
        bottom: 7% !important;
      }
    }
  }
  .fixed-social{
    display: none;
  }
  .footer .footer-wrapping .site-map{
    background: transparent;
  }
  //--------------------------------
  .sel{
    height: 40px;
  }
  //.form-group{
  //  margin-bottom: 0;
  //}
  .form-group input{
    margin: 0;
    padding: 0.5rem;
    height: 40px;
    margin-bottom: 15px;
  }
  .form-group textarea{
    height: auto;
    margin-bottom: 15px;
  }
  .common-btn{
    height: 40px;
  }
  .section{
    padding: 25px 0 25px 0;
    margin-top: 40px;
  }
  .fr-ttle .ttle{
    font-size: 32px;
    margin-bottom: 40px;
  }
  .page-content .categories .content .nav-tabs a.nav-link{
    padding-right: 20px;
    font-size: 20px;
  }
  .breadcrumb-wrapper{
      .breadcrumb {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        .breadcrumb-item+.breadcrumb-item::before, a{
          color: #FFF;
        }
      }
  }
  .breadcrumb-wrapper .breadcrumb{
    padding: 13px 0;
    margin: 0;
    justify-content: center;
  }
  .breadcrumb-wrapper .breadcrumb a{
    font-size: 16px;
  }
  .breadcrumb-wrapper .breadcrumb .breadcrumb-item.active p{
    font-size: 26px;
  }
  .page-content .index-carousel .carousel .carousel-indicators li{
    width: 30px;
    margin-right: 5px;
    margin-left: 5px;
    height: 5px;
  }
  //-------------------------------
  .lang-login{
    display: flex!important;
    flex-wrap: nowrap;
    flex-basis: auto;
    order: unset;
    flex-grow: 0;
    .navbar-nav{
      width: 100%;
      flex-direction: inherit;
      justify-content: flex-end;
      margin-right: 10px;
      align-items: center;
    }
    .dropdown-menu{
      position: absolute;
    }
  }
  .list-nav{
    position: fixed;
    top: 0;
    left: -100%;
    background: #fff;
    z-index: 666666;
    height: 100%;
    width: 0;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    li.nav-item{
      padding: 0!important;
      margin-bottom: 25px;
      &:after{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: #06b5ea;
        margin: 0 auto;
      }
      a{
        color: #333!important;
        text-align: center;
        user-select: none;
      }
    }
    li.dropdown{
      a{
        padding-left: 15px;
      }
    }
    .dropdown-menu{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .close-menu{
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 30px;
      color: #06b5ea;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .footer .footer-wrapping{
    .about-news .news-letter , .site-map , .get-in-touch {
      .title{
        letter-spacing: 0;
      }
    }
    .about-news .news-letter .input-wrapper .form-control,
    .about-news .news-letter .input-wrapper:before{
      z-index: 66;
    }
  }

  /*package-page*/
  .packages .carousel .carousel-indicators{
    display: flex;
    bottom: -40px;
    li{
      background-color: #000;
    }
    .active{
      background-color: #06b5ea;
    }
  }
  .packages .carousel .carousel-inner{
    .row{
      width: 100%;
      flex-wrap: nowrap;
      max-width: 1170px;
      margin: 0;
    }
  }
  .work-together{
    padding: 0 !important;
    .work-together-wrap{
      position: relative;
      background-color: transparent;
      overflow: hidden;
      .work-to-words{
        background-color: rgba(255,255,255,0.7) ;
      }
      .work-to-img{
        height: 100%;
        position: absolute;
        z-index: -1;
      }
    }
  }
  .blog-details{
    padding-top: 30px;
    .blog-details-con{
      .blog-back{
        margin-bottom: 30px;
        .blog-back-img{
          min-height: 300px;
        }
        .admin-details {
          p{
            padding-top: 35px;
            padding-bottom: 20px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .career {
    padding-top: 30px;
    .nav-tabs .nav-item .nav-link {
      font-size: 24px;
    }
    .tab-content{
      margin-top: 50px;
      margin-bottom: 0;
    }
    .career-block {
        flex-wrap: wrap;
        padding-bottom: 20px;
        margin-bottom: 30px;
        [class^="career-block"]{
          flex: 1 0 auto;
          &:first-child{
            flex: 0 1 100%;
            margin-bottom: 10px;
          }
        }
    }
  }
  .contact-us{
    .contacts{
      width: 20%;
      padding-top: 30px;
      .contacts-01{
        &:not(:last-child){
          margin-bottom: 50px;
        }
      }
    }
  }

  .faq{
    .accordion {
      margin-bottom: 40px;
    }
  }

  .account-breadcrumb{
    margin-top: 40px;
  }

  .job-description{
    .apply-now form .form-group {
      width: 100%;
    }
  }
  .supplier-descovery-page{
    .supplier-content{
      .supply-block{
        .supply-info{
          h2{
            font-size: 20px;
            margin-bottom: 20px;
          }
          p{
            font-size: 16px;
          }
        }
      }
      .auto-complete-div{

      }
      .pagination {
        margin-bottom: 30px;
        flex-wrap: wrap;
        .page-item{
          .page-link{
            margin: 4px;
            padding: 0.4rem 0.75rem;
            font-size: 16px;
          }
        }
      }
    }
  }

  .supplier-view{
    .business-details {
      p{
        width: 100%;
      }
    }
  }
  .page-content .index-carousel .container{
    top: auto;

    transform: translateX(-50%);

    bottom: 15%;
  }

  .login-div{
    width: 65%;
  }
  .page-content .counter .col-lg-4{
    margin-bottom: 50px;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  .page-content .counter .counter-block .counter-info>*{
    font-size: 18px;
  }
  .page-content .counter .counter-block .counter-img i{
    font-size: 30px;
  }

}


/*Small Devices, Tablets
----------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
/*--------------------------------------------------------------------*/
  h1, .h1 {
    font-size: 24px;
  }
  h2, .h2 {
    font-size: 22px;
  }
  h3, .h3 {
    font-size: 20px;
  }
  .find-ttle-02 {
    font-size: 26px;
  }
  .header .header-wrapper{
    .navbar{
      .logo{
        .navbar-brand{
          height: 80px;
        }
      }
      .navbar-toggler{
        font-size: 35px;
      }
    }
  }

  .page-content {
    .index-carousel{
      .find{
        padding: 25px 30px;
        margin-top: -10px;
        .find-ttle{
          font-size: 24px;
        }
        .the-select{
          width: calc(100% - 61px);
        }
        input.form-control, .input-group-text{
          height: 40px;
        }
      }
      .sup-select{
        width: 100%;
        .sel{
          border-bottom: 0.1px solid rgba(51,51,51,0.9);
          &:after{
            right: 30px;
          }
        }
      }
      input.form-control{
        width: calc(100% - 61px);
      }
    }
  }
  .blog-details{
    padding-top: 30px;
    .blog-details-con{
      .blog-texts{
        h5{
          font-size: 20px;
          margin-bottom: 15px;
        }
        article{
          font-size: 16px;
        }
      }
      .blog-back{
        margin-bottom: 40px;
        .admin-details {
          p{
            text-align: center;

          }
        }
      }
    }
    .social-comments .supmited-comments .comment-block {
      .comment-div .comment-block-comment .profile-name, .reply-div .comment-block-comment .profile-name {
        a {
          width: 100%;
          display: block;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
  .login-div{
    width: 60%;
    h2{
      font-size: 28px;
    }
  }
  .career {
    padding-top: 20px;
    .nav-tabs .nav-item .nav-link {
      font-size: 20px;
    }
    .tab-content{
      margin-top: 35px;
    }
    .career-block {
      flex-wrap: wrap;
      [class^="career-block"]{
        flex: 1 0 100%;
        justify-content: flex-start;
        p{
          flex: 0 1 100%;
          margin-bottom: 10px;
        }
        a{
          height: 45px;
        }
      }
    }
  }

  .contact-us{
    .map{
      width: 50%;
    }
    .contacts{
      width: 50%;
      margin: 0;
      padding: 30px;
      .contacts-01{
        &:not(:last-child){
          margin-bottom: 50px;
        }
      }
    }
  }

  .account-breadcrumb{
    margin-top: 40px;
    .apply-now form .form-group {
      width: 100%;
    }
  }

  .product-iframe .iframe-wrapper .gallery {
    .carousel{
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .carousel-indicators{
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-#{$right}: 0;
        margin-top: 10px;
        li{
          height: 100%;
          &:not(:last-child){
            margin-#{$right}:10px;
          }
        }

      }
      .carousel-inner{
        width: 100%;
      }
    }
    .gallery-details{
      flex-wrap: wrap;
      padding-bottom: 1rem;
      .product-price {
        width: 100%;
        p{
          padding: 8px 0;
        }
      }
    }
  }

  .news-tags{
    margin-top:0 ;
  }
  .request-supplier{
    .steps-btns{
      margin-bottom: 30px;
    }
  }

  .supplier-view{
    .supplier-info{
      .supplier-img{
        display: none;
      }
    }
    .business-details-rt{
      flex-wrap: wrap;
      .services-offered{
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(51, 51, 51, 0.2);
        border-right:none;
      }
      .product-services{
        width: 100%;
        padding-top: 15px;
      }
    }
  }
  .page-content .index-carousel .find .select2-container .select2-selection--single .select2-selection__rendered{
    line-height: 40px;
  }
  .breadcrumb-wrapper .breadcrumb .breadcrumb-item.active p {
    font-size: 20px;
  }
  .blog-details .social-comments .comments-form form .form-group{
    width: 100%;
  }
  .product-details .product-iframe .iframe-wrapper .gallery .carousel .carousel-indicators{
    width: auto;
    height: auto;
  }
  .login-div{
    width: 80%;
  }
}


/*  Extra Small Devices, Phones
----------------------------------------------------------------------*/
@media only screen and (max-width: 578px) {
  /*--------------------------------------------------------------------*/
  .find-ttle-02 {
    font-size: 24px;
    &:after {
      display: none;
    }
  }
  .page-content .categories .content .nav-tabs a.nav-link{
    padding-right: 18px;
    font-size: 18px;
  }
  .header .header-wrapper .navbar{
    .logo .navbar-brand{
      margin: 0;
    }
  }
  .header .header-wrapper .navbar .navbar-collapse li {
    a{
      font-size: 16px;
    }
  }
  .header .header-wrapper .navbar .navbar-collapse li.icon button{
    font-size: 16px;
  }
  .header .header-wrapper .navbar .navbar-toggler{
    font-size: 26px;
  }
  .account .account-edit .account-info .account-info-block .single-info {
    width: 100%;
    flex-wrap: wrap;
    label, input, .sel{
      width: 100%;
    }
  }
  .blog-details{
    .blog-details-con{
      .blog-back{
        .admin-details{
          p{
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
        .blog-back-img, .blog-texts{
          width: 100%;
          min-height: 200px;
          .blog-date{
            padding: 10px 30px;
            font-size: 16px;
            left: 0;
            bottom: 0;
          }
          h5 {
            font-size: 1.25rem;
            margin-top: 20px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  .login-div{
    width: 80%;
    h2{
      font-size: 24px;
    }
  }
  .contact-us{
    flex-wrap: wrap;
    flex-direction: column-reverse;
    .map{
      width: 100%;
    }
    .contacts{
      width: 100%;
      margin: 0;
      padding: 30px;
      .contacts-01{
        &:not(:last-child){
          margin-bottom: 50px;
        }
      }
    }
  }
  .history .recent-history .tab-content .tab-pane .table {
    thead tr, tbody tr{
      th{
        font-size: 16px;
      }
      td{
        font-size: 14px;
          &:first-child {
            font-size: 18px;
          }
          &:last-child {
          a {
            margin-#{$right}: 0px;
          }
        }
      }
    }
  }
  .modal .modal-dialog {
    max-width: none;
     .modal-content .modal-body button{
       margin-right: 0;
       margin-left: 0;
       max-width: 100%;
     }
  }

  .breadcrumb-wrapper .breadcrumb{
    a{
      font-size: 14px;
    }
    .breadcrumb-item.active p {
      font-size: 16px;
    }
  }
  .copyright {
    p {
      line-height: normal;
      font-size: 12px;
    }
  }
  .clients-say .carousel .carousel-control-next, .clients-say .carousel .carousel-control-prev{
    display: none;
  }
  .product-iframe .product-description .iframe-footer{
    display: block;
    > div {
      width: 100% !important;
      margin: 0 !important;
      &.seen{
        p{
          text-align: $left;
          margin-top: 5px;
        }
      }
    }
  }
  .request-supplier .steps-btns button{
    height: 36px;
    &:before{
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-#{$left}: 18px solid #fff;
    }
    &:after{
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
      border-#{$left}: 18px solid #333;
      right: -18px;
    }
  }
  .request-supplier .steps-btns button.active:after{
    border-#{$left}: 18px solid #06b5ea;
  }
  .supplier-view .supplier-info .supplier-text .view-save button{
    width: auto;
  }
  .login-div{
    width: 100%;
  }
}


/*  Extra Small Devices, Phones
----------------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
/*--------------------------------------------------------------------*/
  .login-div{
    width: 90%;
    h2{
      font-size: 18px;
    }
  }
  .supplier-descovery-page .supplier-content .auto-complete-div .form-group input {
    margin-#{$right}:0;
  }
  .page-content .index-carousel .find{
    padding: 15px;
    .find-ttle{
      font-size: 20px;
    }
  }
  .supplier-view .supplier-info .supplier-text {
    h2, a,.view-save{
      margin-#{$left}:0 !important;
      margin-bottom: 10px !important;
      margin-top: 0px !important;
    }
  }
  .header .header-wrapper .navbar .navbar-toggler{
    padding: 2px;
  }
  .header .header-wrapper .navbar .navbar-collapse li{
    padding-#{$left}: 10px;
  }
  .header .header-wrapper .navbar .logo .navbar-brand{
    height: 60px;
  }
}


/*  Extra Small Devices, Phones
----------------------------------------------------------------------*/
@media only screen and (max-width: 360px) {
/*--------------------------------------------------------------------*/
  .find-ttle-02{
    font-size: 24px;
  }
  .login-div{
    width: 60%;
  }
  .header .header-wrapper .navbar .navbar-toggler{
    padding: 0;
  }
  .header .header-wrapper .navbar .navbar-collapse li{
    padding-#{$left}: 7px;
  }
}



